/* Teams listing */
.page-header h1{ color:#fff; }
.card .card-title{ color: #9086ab }
.card small, .card p { color:#9086ab; }
.card:hover{ box-shadow:0 16px 34px rgba(16,12,40,.25); }
.card-content h3, 
.card-content p {
  font-size: 2rem; /* ~18px */
}